*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.container {
  max-width: 1140px;
  padding-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  justify-content: center;
  margin: auto;
}

.section {
  padding-bottom: 96px;
}

.navbar-wrap {
  background-image: url('https://i.postimg.cc/KcJV9NLL/2017-08-24-07-23-50-1000x658.jpg');
  background-size: cover;
  height: 100vh;
}

/* Navigation */

.navigation {
  padding: 42px 10px 42px 10px;
}

.logo-header {
  position: absolute;
  top: 12px;
  width: 100px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 32px;
}

.navigation li {
  margin-left: 36px;
}

.navigation li li {
  width: 50px;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation ul ul {
  margin-left: 36px;
}

/**header**/
.splash-inner {
  margin: auto;
  max-width: 70%;
  text-align: center;
  margin-top: 170px;
}

.page-title {
  margin: 0;
  font-size: 32px;
  word-spacing: 7px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.page-title span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}

.btn {
  display: block;
  align-items: center;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  max-width: 190px;
  font-family: Inconsolata;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
}

.btn:hover {
  background-position: 0 100%;
}

.btn-btn {
  background-color: #f1c40f;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  background-color: white;
}

.services {
  text-align: center;
  color: black;
  margin-top: 50px;
  padding: 0;
  display: inline;
}

h1 {
  font-weight: bold;
}

.p-services {
  font-size: 20px;
  font-style: italic;
  color: #747d8c;
  text-align: center;
  margin-bottom: 40px;
}

.box {
  color: black;
}

.box i {
  font-size: 30px;
  background: #f1f2f6;
  height: 60px;
  width: 60px;
  color: #f1c40f;
  border-radius: 50%;
  border-color: #f1c40f;
  justify-content: space-between;
  border: 3px solid;
  padding-top: 12px;
  padding-left: 9px;
}

.text {
  font-size: large;
  padding: auto;
  color: #747d8c;
  font-style: italic;
  text-align: center;
}

section h1 {
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 15px;
}

.card-title {
  font-weight: bold;
  color: black;
}
.card-body {
  font-size: large;
  color: #747d8c;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

.card img {
  height: 300px;
  padding-bottom: 7px;
}
.portfolio {
  background-color: #dfe4ea;
  padding-bottom: 10px;
}

section footer {
  margin: 30px;
  background-color: white;
}

.footer i {
  background-color: #f1c40f;
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
}

@media (min-width: 576px) {
  .menu {
    justify-content: end;
    flex-direction: row;
    color: black;
  }
}
